This code is to check how much of Marko's and Hollis's catalogs match with my catalog of potential neighbors around the 9 spectroscopically confirmed QGs. The reason for this code is the fact that there aren't many matches between my catalog and that of Rafael, which is compiled by CIGALE based on Olivier's catalog. A lot of names to keep track of, but they're all related somehow.

(Binh, Sep 25, 2024)

In [2]:
# this sets up basic packages
import numpy as np
import pandas as pd
import astropy.units as u
import astropy.cosmology.units as cu

# this sets up matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

# this sets up astropy
from astropy.io import fits
from astropy.wcs import WCS
from astropy.wcs.utils import pixel_to_skycoord
from astropy.utils.data import get_pkg_data_filename
from astropy.coordinates import SkyCoord, Angle, match_coordinates_sky, Distance
from astropy.table import Table, unique

from regions import Regions, CircleSkyRegion

First, let's load in my catalog.

In [4]:
my_catalog = pd.read_csv('potential_neighbors.txt', sep='\t')

## CHECK 1

### Part 1: Marko's catalog vs. mine

In [7]:
marko = fits.open('/Users/ngbinh/Downloads/check_data/COSMOSWeb_master_v3.1.0_assoc_cold+hot_sersic_cgs_err-calib.fits')
marko_data = Table(marko[1].data)

In [8]:
### matching coords
marko_objects = SkyCoord(ra=marko_data['RA_DETEC'].data*u.degree, dec=marko_data['DEC_DETEC'].data*u.degree)
my_objects = SkyCoord(ra=my_catalog['ra'].values*u.degree, dec=my_catalog['dec'].values*u.degree)

# use search_around_sky to find matching indices (matching in RA and Dec) in each catalog
idx_marko, idx_mine, d2d, d3d = my_objects.search_around_sky(marko_objects, 1*u.arcsec)

In [9]:
# there are going to be cases where one set of coords in my catalog is matched to many sets of coords in Marko's catalog.
# in this part, we're going to find those cases and just select the set of coords with the minimum separation.
my_unique_ids = np.unique(idx_mine)
marko_matches = []
my_matches_with_marko = []
for match in my_unique_ids:
    separations = d2d[np.where(idx_mine == match)]
    if np.size(separations) > 1:
        # this adds the id of the object from Marko's catalog with the minimum separation from my set of coords
        marko_matches.append(idx_marko[np.where(d2d == np.min(separations))][0])
        my_matches_with_marko.append(idx_mine[np.where(d2d == np.min(separations))][0])
    else:
        # this just adds the id of the object from Marko's catalog if there's only one match
        marko_matches.append(idx_marko[np.where(idx_mine == match)][0])
        my_matches_with_marko.append(idx_mine[np.where(idx_mine == match)][0])

In [10]:
print("The number of unique matches with Marko's catalog is", np.size(marko_matches), 'out of', np.size(my_catalog['id'].values))

The number of unique matches with Marko's catalog is 139 out of 155

In [11]:
# these are the objects (rows) in my catalog that aren't in Marko's catalog
catalog_not_in_marko = pd.concat([my_catalog, my_catalog.loc[my_matches_with_marko]]).drop_duplicates(keep=False)
catalog_not_in_marko

         id          ra       dec
14   780511  150.059862  2.377896
15   780592  150.060254  2.378310
16   780808  150.060603  2.379956
20   780995  150.060525  2.381155
21   781053  150.061446  2.381259
34   782969  150.112951  2.377312
37   783202  150.112071  2.379218
88   784663  150.087636  2.398937
95   642465  150.436790  2.466868
96   642503  150.436177  2.467482
114  782329  150.103806  2.376071
126  799317  150.107224  2.328334
141  823454  150.108507  2.328465
142  823493  150.109905  2.328249
145  823724  150.111572  2.329369
152  824065  150.112878  2.331558

### Part 2: Marko's catalog vs. Olivier's

In [13]:
# this reads in the file and makes sure the names match the columns
olivier_data = pd.read_csv('/Users/ngbinh/Downloads/check_data/photoz_BC03_v3.1.0_cosmosweb.out', sep=' ').shift(1, axis=1)

In [14]:
olivier_marko_matches, olivier_idx, marko_idx = np.intersect1d(olivier_data['Id'].values, 
                                                                    np.array(marko_matches, dtype='object'), return_indices=True)

In [15]:
# this finds matches between Olivier's catalog and Marko's based on the IDs
olivier_matching_rows = olivier_data[olivier_data['Id'].isin(olivier_marko_matches)]

In [16]:
### Based on the README_flagging TXT file, count/categorize the Olivier-Marko matches based on the flags Olivier gave them.
olivier_flags = olivier_matching_rows['warn_fl'].values

for flag_value in np.unique(olivier_flags):
    flag_no = np.size(np.where(olivier_flags==flag_value))
    print(flag_no, 'objects are flagged', flag_value)

111 objects are flagged 0
25 objects are flagged 1
1 objects are flagged 3

In [17]:
# this retrieves all the objects flagged 1
flagged_ones = olivier_matching_rows[olivier_matching_rows['warn_fl']==1]['Id'].values

In [53]:
olivier_matching_rows[olivier_matching_rows['warn_fl']==1]

,#,Id,alpha,delta,zfinal,type,warn_fl,zPDF,zPDF_l68,zPDF_u68,zChi2,chi2_best,NbFilt,zp_AGN,chi2_agn,mod_agn,mod_star,chi_star
642709,NaN,642709,150.05962,2.37923,-99.0,0,1,1.6270,1.6200,1.6431,1.6290,521.8110,31,2.4924,549.8130,20.0,254.0,738.8980
642860,NaN,642860,150.06119,2.37984,-99.0,0,1,0.0917,0.0300,0.2014,2.4320,72.7762,31,0.0752,79.6577,3.0,196.0,85.4632
642890,NaN,642890,150.06118,2.38007,-99.0,0,1,3.5078,1.6031,3.5986,1.6360,197.1940,31,2.7950,222.1870,20.0,155.0,268.5210
643084,NaN,643084,150.05910,2.38198,-99.0,0,1,0.9897,0.9800,0.9986,0.9896,663.2660,30,0.0000,783.4460,3.0,393.0,795.9870
645848,NaN,645848,150.08713,2.39217,-99.0,0,1,0.9937,0.9709,1.0000,0.9953,324.2660,32,0.0000,426.2270,3.0,427.0,396.3900
645908,NaN,645908,150.08484,2.39333,-99.0,0,1,0.9932,0.9533,1.0175,0.9973,46.2117,32,0.1209,66.8020,3.0,200.0,127.2900
646089,NaN,646089,150.08726,2.39377,-99.0,0,1,0.9853,0.9800,2.4897,0.9853,366.2630,32,0.0000,454.7120,4.0,414.0,482.4410
646139,NaN,646139,150.08696,2.39423,-99.0,0,1,2.4110,1.6375,2.4416,2.4340,158.3120,32,0.0658,193.7530,4.0,198.0,226.3980
646168,NaN,646168,150.08713,2.39441,-99.0,0,1,0.9672,0.8752,1.6178,1.6350,119.5440,32,0.1321,147.5230,3.0,361.0,174.8510
646215,NaN,646215,150.08469,2.39560,-99.0,0,1,0.6965,0.5148,1.6538,2.4550,81.8831,32,0.1234,100.1220,3.0,370.0,113.7010
646279,NaN,646279,150.08640,2.39537,-99.0,0,1,3.5138,1.6539,3.5994,1.6410,48.6779,32,2.6932,62.7656,7.0,149.0,127.6280
646323,NaN,646323,150.08758,2.39526,-99.0,0,1,0.9888,0.9707,1.6398,0.9746,95.5531,32,0.2779,125.5000,6.0,159.0,151.1740
646353,NaN,646353,150.08802,2.39510,-99.0,0,1,3.5358,3.4943,3.5895,3.5320,73.9913,32,1.6243,100.7850,13.0,151.0,659.1150
646355,NaN,646355,150.08891,2.39492,-99.0,0,1,2.4831,2.4611,2.4961,2.4820,97.2810,32,5.8602,126.2180,19.0,244.0,123.9840
646429,NaN,646429,150.08785,2.39592,-99.0,0,1,1.6046,0.9841,1.6662,1.6300,32.6988,32,0.9710,48.9232,1.0,159.0,52.8357
646529,NaN,646529,150.09070,2.39543,-99.0,0,1,2.4553,2.4500,2.4992,2.4530,92.3962,32,0.0000,242.8400,5.0,384.0,538.0210
646561,NaN,646561,150.08811,2.39676,-99.0,0,1,3.5203,0.9782,4.2029,1.6370,85.9289,32,0.8416,101.4390,10.0,157.0,123.0390
646683,NaN,646683,150.08473,2.39864,-99.0,0,1,1.6569,1.1497,2.4866,2.4460,26.8786,32,0.3131,36.3768,8.0,159.0,59.0656
646691,NaN,646691,150.08823,2.39769,-99.0,0,1,3.5114,3.1573,3.5932,1.6390,42.2428,32,0.2857,69.8765,8.0,157.0,171.6780
646706,NaN,646706,150.08634,2.39846,-99.0,0,1,3.3421,0.9731,4.3669,0.9738,25.7621,32,0.5014,34.3595,8.0,260.0,42.6442
646726,NaN,646726,150.08804,2.39801,-99.0,0,1,0.8356,0.5474,3.0350,1.6430,15.3348,32,0.2962,24.6496,5.0,159.0,40.7906
646738,NaN,646738,150.08727,2.39840,-99.0,0,1,0.9892,0.9800,1.0063,0.9881,100.6530,32,0.4801,132.1790,1.0,159.0,140.9800
646769,NaN,646769,150.08881,2.39808,-99.0,0,1,1.0384,0.5122,2.4340,2.4690,40.4556,32,0.1942,48.9751,5.0,163.0,90.3363
646810,NaN,646810,150.08979,2.39805,-99.0,0,1,9.2248,8.7948,9.6292,9.5470,34.4068,32,8.8656,38.6816,20.0,268.0,38.1238
660116,NaN,660116,150.08482,2.39403,-99.0,0,1,0.3301,0.1867,0.6419,0.2777,66.9756,32,0.2901,69.1591,3.0,196.0,71.8832

In [18]:
# this finds the intersecting elements between flagged_ones and the array of matching IDs from earlier,
# which will allow us to trace the rows in my catalog that correspond to the flagged objects
flags, flagged_idx, marko_idx_narrowed = np.intersect1d(flagged_ones, olivier_marko_matches, return_indices=True)

In [19]:
twenty_five_lephare = my_catalog.iloc[np.array(my_matches_with_marko, dtype='object')[marko_idx[marko_idx_narrowed]]]

### Discussion
Based on the README_flagging.txt file, this means that of Marko's <b>139</b> objects that are matchable to my catalog:
- <b>111</b> objects look fine, according to Olivier (flag 0)
- <b>25</b> objects have an offset between ground and space, according to Olivier (flag 1)
- <b>1</b> object has hot pixels, i.e. it has a radius below 1.e-5, according to Olivier (flag 3)

Additionally, there are <b>2</b> objects that are NOT flagged by Olivier at all because they simply just don't show up in Olivier's catalog.

## CHECK 2
### Hollis's catalog with mine

In [22]:
hollis = fits.open('/Users/ngbinh/Downloads/check_data/COSMOS-Web_hot+cold_aperture_catalog_v1.3.fits')
hollis_data = Table(hollis[1].data)

In [23]:
### matching coords
hollis_objects = SkyCoord(ra=hollis_data['ra'].data*u.degree, dec=hollis_data['dec'].data*u.degree)

# use search_around_sky to find matching indices (matching in RA and Dec) in each catalog
idx_hollis, idx_mine2, d2d2, d3d2 = my_objects.search_around_sky(hollis_objects, 1*u.arcsec)

In [24]:
# there are going to be cases where one set of coords in my catalog is matched to many sets of coords in Hollis's catalog.
# in this part, we're going to find those cases and just select the set of coords with the minimum separation.
my_unique_ids_2 = np.unique(idx_mine2)
hollis_matches = []
my_matches_with_hollis = []
for match in my_unique_ids_2:
    separations = d2d2[np.where(idx_mine2 == match)]
    if np.size(separations) > 1:
        # this adds the id of the object from Hollis's catalog with the minimum separation from my set of coords
        hollis_matches.append(idx_hollis[np.where(d2d2 == np.min(separations))][0])
        my_matches_with_hollis.append(idx_mine2[np.where(d2d2 == np.min(separations))][0])
    else:
        # this just adds the id of the object from Hollis's catalog if there's only one match
        hollis_matches.append(idx_hollis[np.where(idx_mine2 == match)][0])
        my_matches_with_hollis.append(idx_mine2[np.where(idx_mine2 == match)][0])

In [25]:
print("The number of unique matches with Hollis's catalog is", np.size(hollis_matches), 'out of', np.size(my_catalog['id'].values))

The number of unique matches with Hollis's catalog is 139 out of 155

In [26]:
# these are the objects (rows) in my catalog that aren't in Hollis's catalog
catalog_not_in_hollis = pd.concat([my_catalog, my_catalog.loc[my_matches_with_hollis]]).drop_duplicates(keep=False)
catalog_not_in_hollis

         id          ra       dec
14   780511  150.059862  2.377896
15   780592  150.060254  2.378310
16   780808  150.060603  2.379956
20   780995  150.060525  2.381155
21   781053  150.061446  2.381259
34   782969  150.112951  2.377312
37   783202  150.112071  2.379218
88   784663  150.087636  2.398937
95   642465  150.436790  2.466868
96   642503  150.436177  2.467482
114  782329  150.103806  2.376071
126  799317  150.107224  2.328334
141  823454  150.108507  2.328465
142  823493  150.109905  2.328249
145  823724  150.111572  2.329369
152  824065  150.112878  2.331558

## CONCLUSION
There are <b>16</b> objects in my catalog of potential neighbors that are NOT in either Marko's or Hollis's catalog.

In [28]:
# Save the basic info of the 16 outliers
catalog_not_in_hollis.to_csv('16_outliers.txt', sep='\t', index=False)

In [29]:
# Save the basic info of the 25 LePhare objects
twenty_five_lephare.to_csv('25_flag1.txt', sep='\t', index=False)