In [1]:
# this sets up basic packages
import numpy as np
import pandas as pd
import astropy.units as u
import astropy.cosmology.units as cu

# this sets up matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

# this sets up astropy
from astropy.io import fits
from astropy.wcs import WCS
from astropy.wcs.utils import pixel_to_skycoord
from astropy.utils.data import get_pkg_data_filename
from astropy.coordinates import SkyCoord, Angle, match_coordinates_sky, Distance
from astropy.table import Table, unique

from regions import Regions, CircleSkyRegion

In [2]:
# this reads in the results FITS file that CIGALE made
cigale_results = fits.open('/Users/ngbinh/quenched/out_QG_w_nebular/results.fits')

In [3]:
cigale_results2 = fits.open('/Users/ngbinh/quenched/out_QG_no_nebular/results.fits')
cigale_data2 = Table(cigale_results2[1].data).to_pandas()
cigale_data2['bayes.stellar.m_star'].values

array([1.39166118e+09, 7.29302924e+09])

In [4]:
cigale_data = Table(cigale_results[1].data).to_pandas()

In [5]:
cigale_data['bayes.stellar.m_star'].values

array([1.27989998e+09, 5.81670599e+09])

In [6]:
all_data = pd.read_csv('basic_data.txt', sep=' ', names=['name', 'RA', 'Dec', 'redshift'])

In [7]:
m_star = np.concatenate((np.array([1.24, 2.54, 0.64, 0.40, 0.19, 0.72, 2.24], 
                        dtype='object')*(10**11), np.round(cigale_data['bayes.stellar.m_star'].values))).tolist()

In [8]:
all_data['m_star'] = m_star

In [9]:
all_data

          name          RA       Dec  redshift        m_star
0         Hong  150.061490  2.378680     3.715  1.240000e+11
1    Bach-Dang  150.112560  2.376527     2.474  2.540000e+11
2        Gianh  150.066710  2.382364     3.715  6.400000e+10
3      Ben-Hai  150.087280  2.396043     3.782  4.000000e+10
4  Huong-Giang  150.437320  2.463920     3.336  1.900000e+10
5      Thu-Bon  150.454590  2.455994     3.757  7.200000e+10
6     Dong-Nai  150.461200  2.429547     4.673  2.240000e+11
7       Saigon  150.106932  2.377961     4.570  1.279900e+09
8         Tien  150.108873  2.330539     3.238  5.816706e+09