In [1]:
# this sets up basic packages
import numpy as np
import pandas as pd
import astropy.units as u
import astropy.cosmology.units as cu
import h5py

# this sets up matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

# this sets up astropy
from astropy.io import fits
from astropy.wcs import WCS
from astropy.wcs.utils import pixel_to_skycoord
from astropy.utils.data import get_pkg_data_filename
from astropy.coordinates import SkyCoord, Angle, match_coordinates_sky, Distance
from astropy.table import Table, unique, setdiff

from regions import Regions, CircleSkyRegion

In [2]:
dream = fits.open('/Users/ngbinh/Downloads/DREaM_main.fits')
dream_data = Table(dream[1].data)

In [3]:
# this selects all the neighbors with 2 < z < 5, then gets their Mstar and SFR
relevant = dream_data['ID', 'RA', 'Dec', 'redshift', 'M_gal', 'logpsi'][dream_data['redshift']<5]
relevant = relevant[relevant['redshift']>2].to_pandas()

In [4]:
# this selects all the ones that are quenched (i.e. sSFR < -9.8)
quenched_ones = relevant[np.log10(10**relevant['logpsi'] / relevant['M_gal']) < -9.8]
quenched_ones = quenched_ones[quenched_ones['M_gal'] > 10**10.5]

In [5]:
relevant

                ID        RA       Dec  redshift         M_gal    logpsi
0         13241306  0.489857  0.010564  2.014664  1.273912e+07 -1.369086
1         13241307  0.489621  0.015140  2.014622  1.961021e+05 -2.058861
2         13241308  0.490752 -0.043852  2.014522  7.534733e+05 -2.632520
3         13241309  0.490896 -0.043992  2.014489  2.077482e+05  1.622524
4         13241310  0.492010 -0.043814  2.014393  1.295432e+05 -3.098835
...            ...       ...       ...       ...           ...       ...
12343026  25951780 -0.395015  0.470712  4.977378  1.483325e+05  1.476693
12343027  25951781 -0.325127  0.410665  4.984012  3.898026e+05 -1.798956
12343028  25951782 -0.052119 -0.499995  4.966891  2.134280e+05 -2.114437
12343029  25951783  0.170450 -0.499948  4.950807  2.765631e+06 -1.781149
12343030  25951784 -0.499996  0.454769  4.952418  3.671818e+05 -1.617162

[12343031 rows x 6 columns]

There are too many quenched galaxies in this catalog, so let's just randomly sample 100 of them.

In [7]:
# this selects all the ones that are NOT quenched in relevant. the potential neighbors will be in here.
others = pd.concat([relevant, quenched_ones]).drop_duplicates(keep=False)

In [8]:
quenched_sample = quenched_ones.sample(n=100)

In [9]:
# this creates SkyCoord objects for the quenched sample and the non-quenched ones
quenched_cat = SkyCoord(ra=quenched_sample['RA'].values*u.degree, dec=quenched_sample['Dec'].values*u.degree)
others_cat = SkyCoord(ra=others['RA'].values*u.degree, dec=others['Dec'].values*u.degree)

In [37]:
all_neighbor_ids = []

# this looks for neighbors for each of the quenched ones within 15 arcsec
for quenched_object in quenched_cat:
    
    # use separation to find nearby objects ("nearby" in terms of RA and Dec) in the catalog
    d2d = quenched_object.separation(others_cat)
    catalogmsk = d2d < 15*u.arcsec
    neighbor_ids = others['ID'].values[catalogmsk]

    all_neighbor_ids.append(neighbor_ids)

In [45]:
all_neighbor_ids = np.array(all_neighbor_ids, dtype='object')

In [51]:
quenched_sample

               ID        RA       Dec  redshift         M_gal    logpsi
4667165  18055008 -0.214036 -0.460370  2.912464  3.938851e+10 -0.514176
3610210  16998053  0.025924  0.188798  2.627664  3.459804e+10 -0.562408
1052767  14440610 -0.229286  0.292428  2.182852  6.731970e+10 -0.168675
3297095  16684938  0.112391 -0.373233  2.534276  4.500272e+10  0.078917
5108049  18495892 -0.324630  0.243035  2.861275  6.588794e+10  0.225653
...           ...       ...       ...       ...           ...       ...
5527793  18915636 -0.166495 -0.253958  2.968608  3.844374e+10 -0.407250
493882   13881725 -0.011477  0.197965  2.080440  1.081174e+11  0.046948
1457005  14844848  0.025664  0.412885  2.232555  1.112780e+11  0.129484
3426810  16814653  0.376584 -0.412840  2.572012  3.750012e+10 -0.691502
3887221  17275064 -0.480771  0.252594  2.704865  3.538922e+10 -0.166409

[100 rows x 6 columns]

# CRITERION 1: |z$_{QG}$ - z$_{gal}$| < 0.5

In [79]:
for idx in range(100):
    # this retriesves z_QG
    z_QG = quenched_sample['redshift'].values[idx]

    # this retrieves the IDs of the neighbor candidates around the QG
    neighbor_id_array = all_neighbor_ids[idx]

    # this locates the galaxies with the IDs above, then retrieves their photometric redshifts and IDs.
    # note: the IDs are retrieved in order to keep track of which galaxies we're talking about.
    neighbor_zphot_df = others.loc[others['ID'].isin(neighbor_id_array)][['ID', 'redshift']]
    
    # this sets the criterion
    criterion = (np.abs(z_QG - neighbor_zphot_df['redshift'].values) <= 0.5) 

    # this saves the IDs of the neighbors that pass criterion 1
    passes = neighbor_zphot_df[criterion]

    print(passes)

               ID  redshift
2355489  15743332  2.471031
2355965  15743808  2.472248
2362207  15750050  2.478723
2362208  15750051  2.478713
2362209  15750052  2.478702
...           ...       ...
7165675  20553518  3.340922
7165747  20553590  3.344575
7216443  20604286  3.352785
7302347  20690190  3.369459
7303496  20691339  3.374633

[349 rows x 2 columns]
               ID  redshift
633105   14020948  2.165452
633106   14020949  2.165444
633107   14020950  2.165486
633109   14020952  2.165062
633110   14020953  2.165049
...           ...       ...
5829850  19217693  3.027429
5841785  19229628  3.011168
5841821  19229664  3.010645
5841822  19229665  3.010503
5842079  19229922  3.008270

[361 rows x 2 columns]
               ID  redshift
88851    13330157  2.013467
200658   13528234  2.035219
200718   13528294  2.034420
200830   13528406  2.035976
205918   13533494  2.043658
...           ...       ...
3996300  17384143  2.633857
3996301  17384144  2.633875
4315203  17703046  2.680582
4315299  17703142  2.682573
4315321  17703164  2.682400

[177 rows x 2 columns]
               ID  redshift
374144   13761987  2.048279
468781   13856624  2.075102
468822   13856665  2.078959
468939   13856782  2.078844
475009   13862852  2.069946
...           ...       ...
5490372  18878215  2.966005
5490400  18878243  2.961574
5490401  18878244  2.961562
5490441  18878284  2.963469
5492024  18879867  2.978496

[345 rows x 2 columns]
               ID  redshift
2142272  15530115  2.410298
2159693  15547536  2.401879
2166188  15554031  2.410864
2166262  15554105  2.402416
2167293  15555136  2.400845
...           ...       ...
6602096  19989939  3.238879
6607013  19994856  3.235144
7199482  20587325  3.335986
7200102  20587945  3.335762
7200103  20587946  3.335854

[218 rows x 2 columns]
                ID  redshift
10347523  23735366  4.477141
10347524  23735367  4.477735
10347525  23735368  4.477888
10347526  23735369  4.477337
10542804  23930647  4.447004
...            ...       ...
12176543  25785297  4.920037
12176544  25785298  4.921392
12272225  25880979  4.972727
12272502  25881256  4.968885
12272503  25881257  4.969372

[117 rows x 2 columns]
               ID  redshift
4504301  17892144  2.940698
4504302  17892145  2.940783
4504395  17892238  2.941544
4504396  17892239  2.941681
4504549  17892392  2.939576
...           ...       ...
8917995  22305838  3.859872
8917996  22305839  3.860231
8917997  22305840  3.859644
8917998  22305841  3.859680
8918208  22306051  3.863448

[278 rows x 2 columns]
               ID  redshift
43151    13284457  2.009252
143221   13470797  2.044531
150358   13477934  2.035962
150359   13477935  2.035937
150360   13477936  2.034359
...           ...       ...
3815531  17203374  2.659939
3815610  17203453  2.661345
3815630  17203473  2.657939
4031142  17418985  2.647358
4032024  17419867  2.634499

[205 rows x 2 columns]
                ID  redshift
6255534   19643377  3.314552
6502910   19890753  3.263398
6502911   19890754  3.263393
6502912   19890755  3.263401
6502914   19890757  3.264098
...            ...       ...
9977848   23365691  4.045173
9977849   23365692  4.044692
9977915   23365758  4.046144
10686999  24074842  4.218689
10687052  24074895  4.234405

[356 rows x 2 columns]
                ID  redshift
6261850   19649693  3.319158
6261851   19649694  3.319094
6261852   19649695  3.319175
6261853   19649696  3.319164
6261854   19649697  3.319079
...            ...       ...
10675435  24063278  4.240220
10675436  24063279  4.240272
10675437  24063280  4.240632
10675438  24063281  4.240190
10675546  24063389  4.238133

[349 rows x 2 columns]
               ID  redshift
1342309  14730152  2.246231
1342310  14730153  2.246283
1342485  14730328  2.245569
1342495  14730338  2.245674
1344834  14732677  2.248790
...           ...       ...
6265109  19652952  3.210697
6265572  19653415  3.210627
6466970  19854813  3.155343
6467004  19854847  3.155358
6467005  19854848  3.155270

[426 rows x 2 columns]
               ID  redshift
3145254  16533097  2.594761
3191104  16578947  2.603864
3582087  16969930  2.625092
3582096  16969939  2.625803
3582110  16969953  2.624878
...           ...       ...
7563482  20951325  3.535955
7778611  21166454  3.522501
7778612  21166455  3.522734
7894043  21281886  3.562728
7894207  21282050  3.560698

[425 rows x 2 columns]
               ID  redshift
49633    13290939  2.016122
49634    13290940  2.016257
49638    13290944  2.016181
49890    13291196  2.017395
49891    13291197  2.017403
...           ...       ...
4893469  18281312  2.796518
4893472  18281315  2.796266
4893563  18281406  2.804911
4894208  18282051  2.804558
4894209  18282052  2.804327

[280 rows x 2 columns]
               ID  redshift
79819    13321125  2.025857
95950    13337256  2.016318
95951    13337257  2.016317
95987    13337293  2.013495
96429    13337735  2.014549
...           ...       ...
3506437  16894280  2.585081
3506440  16894283  2.585010
3506441  16894284  2.584981
3508672  16896515  2.588407
3509121  16896964  2.588186

[200 rows x 2 columns]
               ID  redshift
172471   13500047  2.037716
172712   13500288  2.037490
172716   13500292  2.037128
172730   13500306  2.037805
172867   13500443  2.037756
...           ...       ...
4092034  17479877  2.762063
4092273  17480116  2.753428
4092424  17480267  2.752709
4092428  17480271  2.751567
4200484  17588327  2.773734

[338 rows x 2 columns]
               ID  redshift
14454    13255760  2.012483
108128   13435704  2.027421
108142   13435718  2.027086
108146   13435722  2.027125
108147   13435723  2.027137
...           ...       ...
4263172  17651015  2.691492
4263173  17651016  2.691524
4263193  17651036  2.697554
4263194  17651037  2.697555
4263372  17651215  2.697454

[398 rows x 2 columns]
               ID  redshift
90233    13331539  2.012566
218568   13546144  2.034196
218569   13546145  2.034174
218570   13546146  2.034229
218573   13546149  2.034171
...           ...       ...
4135043  17522886  2.748578
4346013  17733856  2.684526
4347725  17735568  2.698687
4347729  17735572  2.693050
4348251  17736094  2.682469

[230 rows x 2 columns]
               ID  redshift
1232     13242538  2.026085
1233     13242539  2.026062
14168    13255474  2.009016
108099   13435675  2.026471
109597   13437173  2.026537
...           ...       ...
3972062  17359905  2.654346
3972090  17359933  2.653442
4066477  17454320  2.747612
4262811  17650654  2.680142
4263425  17651268  2.699177

[320 rows x 2 columns]
               ID  redshift
50161    13291467  2.013991
50166    13291472  2.017129
50299    13291605  2.018364
158181   13485757  2.040440
158182   13485758  2.040417
...           ...       ...
3819036  17206879  2.659784
3819037  17206880  2.659830
3820554  17208397  2.668953
4035490  17423333  2.649698
4040516  17428359  2.633797

[303 rows x 2 columns]
                ID  redshift
8439698   21827541  3.795135
8439700   21827543  3.794600
8439701   21827544  3.794604
8439702   21827545  3.794645
8439703   21827546  3.794583
...            ...       ...
11584156  24971999  4.588458
11593444  24981287  4.568151
11594901  24982744  4.570526
11594925  24982768  4.568425
12007798  25558182  4.771062

[155 rows x 2 columns]
               ID  redshift
636139   14023982  2.165337
735778   14123621  2.196771
744314   14132157  2.201730
865306   14253149  2.146001
993114   14380957  2.113753
...           ...       ...
5498030  18885873  2.966564
5603082  18990925  3.054282
5719685  19107528  3.039341
5719686  19107529  3.039558
5719687  19107530  3.039654

[240 rows x 2 columns]
               ID  redshift
51845    13293151  2.016728
51846    13293152  2.016703
51935    13293241  2.021572
51985    13293291  2.017411
52047    13293353  2.015568
...           ...       ...
3584030  16971873  2.622969
3584034  16971877  2.617687
3982185  17370028  2.650077
3982333  17370176  2.653747
3982391  17370234  2.651108

[242 rows x 2 columns]
               ID  redshift
3711799  17099642  2.725110
3711814  17099657  2.725205
3711917  17099760  2.725081
3713944  17101787  2.724908
3713945  17101788  2.724972
...           ...       ...
7627007  21014850  3.532418
7627008  21014851  3.532792
7954228  21342071  3.563836
8104027  21491870  3.649737
8134749  21522592  3.658156

[292 rows x 2 columns]
               ID  redshift
100918   13428494  2.043007
100919   13428495  2.043006
100923   13428499  2.042850
234295   13561873  2.084418
234296   13561874  2.084482
...           ...       ...
5797813  19185656  3.020853
5797814  19185657  3.020923
5797815  19185658  3.021022
5799424  19187267  3.022870
5801115  19188958  3.020959

[370 rows x 2 columns]
               ID  redshift
1605997  14993840  2.298193
1605998  14993841  2.298260
1605999  14993842  2.298180
1606000  14993843  2.298308
1606002  14993845  2.298777
...           ...       ...
6652220  20040063  3.252201
6652221  20040064  3.252274
6652222  20040065  3.252120
6652224  20040067  3.251387
6652309  20040152  3.252780

[412 rows x 2 columns]
               ID  redshift
4154174  17542017  2.781558
4154175  17542018  2.781499
4154176  17542019  2.781309
4154338  17542181  2.777912
4154617  17542460  2.777559
...           ...       ...
8695711  22083554  3.759543
8695778  22083621  3.758444
8695779  22083622  3.758505
8695826  22083669  3.763753
8695839  22083682  3.760302

[268 rows x 2 columns]
               ID  redshift
3169063  16556906  2.597737
3203918  16591761  2.607813
3203919  16591762  2.607759
3203920  16591763  2.607791
3203921  16591764  2.607721
...           ...       ...
7589080  20976923  3.527754
7589081  20976924  3.527726
7602182  20990025  3.542623
7917046  21304889  3.569318
7917726  21305569  3.558103

[277 rows x 2 columns]
               ID  redshift
102095   13429671  2.041897
139030   13466606  2.029517
139033   13466609  2.029401
139035   13466611  2.029693
139036   13466612  2.029479
...           ...       ...
4922398  18310241  2.806781
5011912  18399755  2.878998
5012732  18400575  2.879559
5013047  18400890  2.878851
5013145  18400988  2.878793

[283 rows x 2 columns]
               ID  redshift
2919278  16307121  2.505767
2919279  16307122  2.505747
2919280  16307123  2.505747
2919365  16307208  2.519509
2919434  16307277  2.519882
...           ...       ...
7301855  20689698  3.373933
7381225  20769068  3.461261
7381226  20769069  3.461279
7381227  20769070  3.461651
7382179  20770022  3.461717

[299 rows x 2 columns]
               ID  redshift
98726    13340032  2.009350
191684   13519260  2.043318
191693   13519269  2.042728
191701   13519277  2.042597
191719   13519295  2.041131
...           ...       ...
3212062  16599905  2.531394
3261487  16649330  2.537003
3321612  16709455  2.554186
3321711  16709554  2.548325
3369577  16757420  2.564310

[235 rows x 2 columns]
               ID  redshift
3156041  16543884  2.589058
3156042  16543885  2.589211
3156149  16543992  2.590198
3156250  16544093  2.590102
3156303  16544146  2.589953
...           ...       ...
7334007  20721850  3.383278
7364437  20752280  3.443581
7628459  21016302  3.538099
7629911  21017754  3.538123
7787838  21175681  3.522125

[287 rows x 2 columns]
               ID  redshift
2312036  15699879  2.466638
2312054  15699897  2.471779
2778731  16166574  2.451629
2778732  16166575  2.451642
2958958  16346801  2.517993
...           ...       ...
7315690  20703533  3.363493
7315691  20703534  3.363394
7316433  20704276  3.361726
7316434  20704277  3.361755
7316494  20704337  3.377423

[250 rows x 2 columns]
               ID  redshift
17676    13258982  2.022895
137692   13465268  2.035611
137693   13465269  2.035617
140203   13467779  2.028973
238445   13566024  2.085432
...           ...       ...
4083918  17471761  2.745557
4083919  17471762  2.745569
4289830  17677673  2.698231
4292531  17680374  2.688527
4292553  17680396  2.688373

[279 rows x 2 columns]
               ID  redshift
1614435  15002278  2.296798
1614436  15002279  2.296655
1614507  15002350  2.297898
1614508  15002351  2.297905
1614509  15002352  2.298238
...           ...       ...
6416985  19804828  3.173963
6417183  19805026  3.171552
6487977  19875820  3.261649
6536391  19924234  3.269233
6582430  19970273  3.234572

[252 rows x 2 columns]
                ID  redshift
8540685   21928528  3.934717
8564278   21952121  3.960924
8710392   22098235  3.894800
8710394   22098237  3.894980
8710395   22098238  3.895000
...            ...       ...
12133425  25683838  4.835967
12133724  25684137  4.840171
12137709  25688122  4.841554
12139090  25689503  4.841527
12139091  25689504  4.841406

[244 rows x 2 columns]
               ID  redshift
2200941  15588784  2.402949
2242742  15630585  2.418151
2353072  15740915  2.473443
2353742  15741585  2.473238
2354013  15741856  2.470704
...           ...       ...
7268868  20656711  3.364708
7268935  20656778  3.365273
7304101  20691944  3.378358
7304102  20691945  3.377784
7304332  20692175  3.376827

[314 rows x 2 columns]
                ID  redshift
6875878   20263721  3.502529
6875887   20263730  3.502402
6875888   20263731  3.502407
6875889   20263732  3.502429
6875890   20263733  3.502380
...            ...       ...
10731972  24119815  4.213887
10731998  24119841  4.223050
10856430  24244273  4.382345
10856963  24244806  4.378691
10857003  24244846  4.378460

[294 rows x 2 columns]
               ID  redshift
71177    13312483  2.014193
71178    13312484  2.014201
81941    13323247  2.009209
182339   13509915  2.040934
183183   13510759  2.040054
...           ...       ...
4345069  17732912  2.681617
4345264  17733107  2.681037
4345265  17733108  2.680635
4346208  17734051  2.678457
4346516  17734359  2.687158

[373 rows x 2 columns]
                ID  redshift
10263754  23651597  4.420470
10263755  23651598  4.420454
10263756  23651599  4.420461
10263757  23651600  4.420664
10263758  23651601  4.420517
...            ...       ...
12173570  25782324  4.913512
12173571  25782325  4.913374
12173572  25782326  4.913904
12173573  25782327  4.913921
12176423  25785177  4.938944

[153 rows x 2 columns]
               ID  redshift
66767    13308073  2.024104
75352    13316658  2.017872
75353    13316659  2.017938
75357    13316663  2.018004
75358    13316664  2.017737
...           ...       ...
2704181  16092024  2.443293
2704182  16092025  2.443736
2704293  16092136  2.441119
2716741  16104584  2.457735
3023544  16411387  2.491582

[285 rows x 2 columns]
               ID  redshift
76151    13317457  2.021314
76572    13317878  2.017655
85704    13327010  2.014880
86407    13327713  2.008379
190625   13518201  2.041578
...           ...       ...
3268382  16656225  2.530642
3268689  16656532  2.542078
3268690  16656533  2.542143
3268691  16656534  2.542272
3268692  16656535  2.542265

[201 rows x 2 columns]
               ID  redshift
1813766  15201609  2.339183
1814072  15201915  2.339657
2080703  15468546  2.349661
2175983  15563826  2.406411
2175984  15563827  2.406412
...           ...       ...
6641391  20029234  3.238211
6641616  20029459  3.242391
6641756  20029599  3.243122
6641757  20029600  3.242980
6641791  20029634  3.243698

[267 rows x 2 columns]
               ID  redshift
150658   13478234  2.034787
364972   13752815  2.057408
366596   13754439  2.050896
465228   13853071  2.074147
465312   13853155  2.077693
...           ...       ...
4727452  18115295  2.850688
4727499  18115342  2.850473
4773275  18161118  2.841890
4773276  18161119  2.842080
4904124  18291967  2.806613

[213 rows x 2 columns]
               ID  redshift
18685    13259991  2.026086
18686    13259992  2.026059
139727   13467303  2.028084
139728   13467304  2.028058
139729   13467305  2.028034
...           ...       ...
3777652  17165495  2.673412
3780111  17167954  2.673541
3979717  17367560  2.649728
4291720  17679563  2.689242
4292077  17679920  2.690992

[266 rows x 2 columns]
                ID  redshift
10210998  23598841  4.414457
10473173  23861016  4.457462
10473319  23861162  4.434784
10473320  23861163  4.434790
10473445  23861288  4.441402
...            ...       ...
12225156  25833910  4.945369
12225158  25833912  4.945642
12225159  25833913  4.945252
12225235  25833989  4.939057
12225236  25833990  4.938953

[107 rows x 2 columns]
               ID  redshift
3636522  17024365  2.728187
3636523  17024366  2.728152
3649603  17037446  2.740778
3649720  17037563  2.734302
3759182  17147025  2.675695
...           ...       ...
7796525  21184368  3.608894
7898291  21286134  3.573848
7898292  21286135  3.574431
7898293  21286136  3.574255
7898536  21286379  3.564837

[488 rows x 2 columns]
               ID  redshift
12088    13253394  2.021626
12089    13253395  2.021494
12588    13253894  2.016638
112405   13439981  2.030465
112406   13439982  2.030237
...           ...       ...
2506867  15894710  2.422350
2507006  15894849  2.422216
2617588  16005431  2.388305
2630703  16018546  2.377764
2965017  16352860  2.518029

[178 rows x 2 columns]
               ID  redshift
227998   13555574  2.087145
228065   13555641  2.082223
228340   13555916  2.088515
234298   13561876  2.088961
435585   13823428  2.081828
...           ...       ...
5687951  19075794  3.043768
5688529  19076372  3.044053
5688581  19076424  3.044328
5688975  19076818  3.047470
5688976  19076819  3.047445

[248 rows x 2 columns]
               ID  redshift
5204272  18592115  3.002877
5225739  18613582  2.991587
5225741  18613584  2.991852
5225742  18613585  2.991324
5225750  18613593  2.991816
...           ...       ...
8832176  22220019  3.820637
8832206  22220049  3.820846
8884130  22271973  3.826357
8888864  22276707  3.817073
8958007  22345850  3.858875

[291 rows x 2 columns]
               ID  redshift
4558     13245864  2.019641
4560     13245866  2.019381
5401     13246707  2.019655
13255    13254561  2.008439
13626    13254932  2.009278
...           ...       ...
5464188  18852031  2.974784
5464189  18852032  2.974678
5464191  18852034  2.974530
5464869  18852712  2.974568
5465012  18852855  2.973860

[491 rows x 2 columns]
                ID  redshift
10086738  23474581  4.324126
10086739  23474582  4.324080
10086740  23474583  4.323963
10086741  23474584  4.325708
10086790  23474633  4.327686
...            ...       ...
12119263  25669676  4.833958
12119264  25669677  4.834046
12119265  25669678  4.833703
12119374  25669787  4.834609
12209028  25817782  4.920030

[173 rows x 2 columns]
               ID  redshift
3589123  16976966  2.628428
3718611  17106454  2.733022
3718612  17106455  2.733027
3718710  17106553  2.735812
3718711  17106554  2.735691
...           ...       ...
7934809  21322652  3.554365
7936129  21323972  3.564729
7936130  21323973  3.564789
7939887  21327730  3.573917
7939888  21327731  3.573970

[295 rows x 2 columns]
               ID  redshift
2961277  16349120  2.507351
2961279  16349122  2.507342
2961280  16349123  2.507334
2962194  16350037  2.510718
3169129  16556972  2.594285
...           ...       ...
7228262  20616105  3.350110
7262067  20649910  3.385046
7309296  20697139  3.382772
7363588  20751431  3.444256
7407436  20795279  3.453460

[257 rows x 2 columns]
               ID  redshift
2131023  15518866  2.410672
2131024  15518867  2.410647
2131026  15518869  2.410872
2131275  15519118  2.412382
2131337  15519180  2.411362
...           ...       ...
7283635  20671478  3.363313
7283948  20671791  3.361348
7284248  20672091  3.366945
7284342  20672185  3.373966
7284497  20672340  3.372706

[307 rows x 2 columns]
               ID  redshift
79404    13320710  2.023348
80211    13321517  2.020085
90074    13331380  2.011800
90075    13331381  2.011948
90186    13331492  2.009097
...           ...       ...
4330748  17718591  2.678887
4332537  17720380  2.679813
4332612  17720455  2.678661
4332614  17720457  2.679413
4577295  17965138  2.789147

[207 rows x 2 columns]
               ID  redshift
48653    13289959  2.023797
178129   13505705  2.040489