In [1]:
# this sets up basic packages
import numpy as np
import pandas as pd
import astropy.units as u
import astropy.cosmology.units as cu

# this sets up matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

# this sets up astropy
from astropy.io import fits
from astropy.wcs import WCS
from astropy.wcs.utils import pixel_to_skycoord
from astropy.utils.data import get_pkg_data_filename
from astropy.coordinates import SkyCoord, Angle, match_coordinates_sky, Distance
from astropy.cosmology import Planck15 as cosmo
from astropy.table import Table, unique

from regions import Regions, CircleSkyRegion

In [2]:
#coords_df = pd.read_csv('/Users/ngbinh/Downloads/rafael_data/coordinates.txt', delimiter=' ')
#coords_df = coords_df.rename(columns={"Id": "id"})

In [3]:
#info_df = pd.read_csv('/Users/ngbinh/Downloads/rafael_data/CIGALE_COSMOSWEB_v3.1.0.dat', delimiter=' ')

In [4]:
df = pd.read_csv('/Users/ngbinh/Downloads/rafael_data/input_cigale_as_LePhare_v3.1.0.txt', delimiter=' ')

In [5]:
df

,#id,redshift,sfh.age,sfh.age_err,CFHT_u,CFHT_u_err,IB427,IB427_err,subaru.hsc.g,subaru.hsc.g_err,...,jwst.nircam.F444W_err,jwst.miri.F770W,jwst.miri.F770W_err,alpha,delta,type,warn_fl,mask_start_jwst,mask_star_hsc,X-ray
0,234354.0,0.0,13750.558476,10,0.000080,0.000005,0.000080,0.000054,0.000080,0.000005,...,0.000003,-9999.000000,-9999.000000,149.899329,1.914961,1,0,0.0,0.0,-999.0
1,431747.0,0.0,13750.558476,10,0.000128,0.000008,0.000128,0.000048,0.000128,0.000005,...,0.000005,-9999.000000,-9999.000000,150.073849,2.501989,1,0,0.0,0.0,-999.0
2,431681.0,0.0,13750.558476,10,-9999.000000,-9999.000000,0.000015,0.000044,-9999.000000,-9999.000000,...,0.000003,-9999.000000,-9999.000000,150.095031,2.493884,1,0,0.0,0.0,-999.0
3,723945.0,0.0,13750.558476,10,0.000021,0.000010,0.000053,0.000058,0.000287,0.000007,...,0.000011,0.000308,0.000028,150.251114,2.282323,1,0,0.0,0.0,-999.0
4,673968.0,0.0,13750.558476,10,0.000012,0.000008,0.000060,0.000055,0.000132,0.000006,...,0.000005,0.000005,0.000040,150.197631,2.254802,1,0,0.0,0.0,-999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592646,310450.0,15.0,273.312352,10,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,...,0.000011,-9999.000000,-9999.000000,150.094158,1.806964,2,0,0.0,0.0,-999.0
592647,412879.0,15.0,273.312352,10,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,...,0.000014,-9999.000000,-9999.000000,149.974170,2.673157,2,0,0.0,0.0,-999.0
592648,582914.0,15.0,273.312352,10,0.000003,0.000010,0.000058,0.000054,-9999.000000,-9999.000000,...,0.000011,0.000059,0.000033,149.842581,2.351845,2,0,0.0,0.0,-999.0
592649,586629.0,15.0,273.312352,10,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,...,0.000006,0.000147,0.000020,149.854158,2.371551,2,0,0.0,0.0,-999.0
592650,769282.0,15.0,273.312352,10,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,...,0.000023,-9999.000000,-9999.000000,150.495823,2.230401,2,0,0.0,0.0,-999.0

In [6]:
# this creates a mega DataFrame 
#df = pd.merge(coords_df, info_df, on="id", how="left")

In [7]:
ras = df['alpha'].values
decs = df['delta'].values
redshifts = df['redshift'].values

# this creates a SkyCoord object of all the objects' RAs and Decs, so we can loop through them later.
all_objects = SkyCoord(ra=ras*u.degree, dec=decs*u.degree)

In [8]:
### from the arrays of RA and Dec, pick a random pair of RA and Dec and find their neighbors within a specified
### aperture. do this 1000 times, then save the number of neighbors from each time into an array.

# this creates a search radius
search_radius = 15
    
# this creates an empty array to save the number of neighbors for each run with each search radius
number_of_neighbors = np.zeros(1000)
    
# this for-loop is to run the code 1000 times
for i in range(1000):
    # use np.random.uniform to find a random RA and Dec within our given boundaries
    random_ras = np.random.uniform(np.min(ras), np.max(ras))
    random_decs = np.random.uniform(np.min(decs), np.max(decs))
    
    # turn the randomly generated RA and Dec into coords to find neighbors for
    random_coords = SkyCoord(ra=random_ras*u.degree, dec=random_decs*u.degree)
    
    # now, we search for all the neighbors of these random coordinates, within a given distance
    d2d = random_coords.separation(all_objects)
    catalog_mask = d2d < search_radius*u.arcsec

    # now, we apply a new criterion: photometric redshift 
    neighbor_ras = ras[catalog_mask]
    neighbor_zs = redshifts[catalog_mask]
    
    # final selection of galaxies
    final_ras = neighbor_ras[neighbor_zs >= 3]

    # this saves the number of neighbors identified in each run into the array we've made above
    number_of_neighbors[i] = np.size(final_ras)

In [11]:
tentative = pd.read_csv('potential_neighbors.txt', sep='\t')

In [41]:
### matching coords
# create SkyCoord arrays (?) with the RA and Dec of the galaxies in both catalogs
#radio_cat = SkyCoord(ra=a3cosmos['RAJ2000']*u.degree, dec=a3cosmos['DEJ2000']*u.degree)
COSMOSWeb_objects = SkyCoord(ra=ras*u.degree, dec=decs*u.degree)
neigh_cat = SkyCoord(ra=tentative['ra'].values*u.degree, dec=tentative['dec'].values*u.degree)

# use search_around_sky to find matching indices (matching in RA and Dec) in each catalog
idx_COSMOSWeb, idx_neigh, d2d, d3d = neigh_cat.search_around_sky(COSMOSWeb_objects, 1*u.arcsec)

# use the matching indices to the new catalog to see where we have data of our neighbors
print(np.size(idx_COSMOSWeb), 'is the number of matches.')

93 is the number of matches.

In [43]:
ue, counts = np.unique(idx_neigh, return_counts=True)
dup = ue[counts > 1]
dup

array([ 36,  73,  92,  93, 103, 105, 107, 121, 122, 124])

In [45]:
ue

array([ 23,  24,  25,  26,  27,  28,  29,  30,  31,  32,  33,  35,  36,
        38,  39,  40,  42,  43,  61,  67,  71,  72,  73,  76,  82,  89,
        90,  91,  92,  93,  94,  97,  98, 100, 101, 102, 103, 104, 105,
       106, 107, 108, 109, 110, 111, 112, 113, 115, 116, 117, 118, 119,
       120, 121, 122, 123, 124, 125, 127, 128, 129, 130, 131, 132, 133,
       134, 135, 136, 137, 138, 139, 140, 143, 144, 146, 147, 148, 149,
       150, 151, 153, 154])

In [47]:
undup = ue[counts == 1]
ee = 0
for i in range(np.size(undup)):
    undup_idx = undup[i]
    print(idx_COSMOSWeb[np.where(idx_neigh == undup_idx)][0])
    ee += 1

483355
475392
479868
469933
270391
486332
32070
351749
427084
387486
121510
116870
70885
225668
453180
346491
161002
484205
535084
535210
351735
256987
38133
460949
544291
579989
538352
486574
543743
410611
538193
557675
361687
432817
500430
388634
67118
260313
250369
175192
172982
570407
394232
308226
168703
168703
412966
536300
343648
346923
217147
239055
520077
435969
232360
567978
451800
278479
166905
545396
412966
385612
76843
208914
225109
363714
564869
471546
177362
217334
320651
199249

In [49]:
ea = 0 
for i in range(np.size(dup)):
    duplicated_idx = dup[i]
    distances = d2d[np.where(idx_neigh == duplicated_idx)]
    print(idx_COSMOSWeb[np.where(d2d == min(distances))][0])
    ea += 1

444647
483722
301409
347210
541047
273387
323865
342451
186023
497373

In [51]:
ea

10