This code is to check how much of Marko's and Hollis's catalogs match with my catalog of potential neighbors around the 9 spectroscopically confirmed QGs. The reason for this code is the fact that there aren't many matches between my catalog and that of Rafael, which is compiled by CIGALE based on Olivier's catalog. A lot of names to keep track of, but they're all related somehow.

(Binh, Sep 25, 2024)

In [2]:
# this sets up basic packages
import numpy as np
import pandas as pd
import astropy.units as u
import astropy.cosmology.units as cu

# this sets up matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

# this sets up astropy
from astropy.io import fits
from astropy.wcs import WCS
from astropy.wcs.utils import pixel_to_skycoord
from astropy.utils.data import get_pkg_data_filename
from astropy.coordinates import SkyCoord, Angle, match_coordinates_sky, Distance
from astropy.table import Table, unique

from regions import Regions, CircleSkyRegion

First, let's load in my catalog.

In [4]:
my_catalog = pd.read_csv('potential_neighbors.txt', sep='\t')

## CHECK 1

### Part 1: Marko's catalog vs. mine

In [7]:
marko = fits.open('/Users/ngbinh/Downloads/check_data/COSMOSWeb_master_v3.1.0_assoc_cold+hot_sersic_cgs_err-calib.fits')
marko_data = Table(marko[1].data)

In [8]:
### matching coords
marko_objects = SkyCoord(ra=marko_data['RA_DETEC'].data*u.degree, dec=marko_data['DEC_DETEC'].data*u.degree)
my_objects = SkyCoord(ra=my_catalog['ra'].values*u.degree, dec=my_catalog['dec'].values*u.degree)

# use search_around_sky to find matching indices (matching in RA and Dec) in each catalog
idx_marko, idx_mine, d2d, d3d = my_objects.search_around_sky(marko_objects, 1*u.arcsec)

In [9]:
# there are going to be cases where one set of coords in my catalog is matched to many sets of coords in Marko's catalog.
# in this part, we're going to find those cases and just select the set of coords with the minimum separation.
my_unique_ids = np.unique(idx_mine)
marko_matches = []
my_matches_with_marko = []
for match in my_unique_ids:
    separations = d2d[np.where(idx_mine == match)]
    if np.size(separations) > 1:
        # this adds the id of the object from Marko's catalog with the minimum separation from my set of coords
        marko_matches.append(idx_marko[np.where(d2d == np.min(separations))][0])
        my_matches_with_marko.append(idx_mine[np.where(d2d == np.min(separations))][0])
    else:
        # this just adds the id of the object from Marko's catalog if there's only one match
        marko_matches.append(idx_marko[np.where(idx_mine == match)][0])
        my_matches_with_marko.append(idx_mine[np.where(idx_mine == match)][0])

In [10]:
print("The number of unique matches with Marko's catalog is", np.size(marko_matches), 'out of', np.size(my_catalog['id'].values))

The number of unique matches with Marko's catalog is 139 out of 155

In [11]:
# these are the objects (rows) in my catalog that aren't in Marko's catalog
catalog_not_in_marko = pd.concat([my_catalog, my_catalog.loc[my_matches_with_marko]]).drop_duplicates(keep=False)
catalog_not_in_marko

         id          ra       dec
14   780511  150.059862  2.377896
15   780592  150.060254  2.378310
16   780808  150.060603  2.379956
20   780995  150.060525  2.381155
21   781053  150.061446  2.381259
34   782969  150.112951  2.377312
37   783202  150.112071  2.379218
88   784663  150.087636  2.398937
95   642465  150.436790  2.466868
96   642503  150.436177  2.467482
114  782329  150.103806  2.376071
126  799317  150.107224  2.328334
141  823454  150.108507  2.328465
142  823493  150.109905  2.328249
145  823724  150.111572  2.329369
152  824065  150.112878  2.331558

### Part 2: Marko's catalog vs. Olivier's

In [13]:
# this reads in the file and makes sure the names match the columns
olivier_data = pd.read_csv('/Users/ngbinh/Downloads/check_data/photoz_BC03_v3.1.0_cosmosweb.out', sep=' ').shift(1, axis=1)

In [14]:
# this finds matches between Olivier's catalog and Marko's based on the IDs
olivier_matches_with_marko = olivier_data.loc[olivier_data['Id'].isin(marko_matches)]

In [15]:
### Based on the README_flagging TXT file, count/categorize the Olivier-Marko matches based on the flags Olivier gave them.
olivier_flags = olivier_matches_with_marko['warn_fl'].values

for flag_value in np.unique(olivier_flags):
    flag_no = np.size(np.where(olivier_flags==flag_value))
    print(flag_no, 'objects are flagged', flag_value)

111 objects are flagged 0
25 objects are flagged 1
1 objects are flagged 3

### Discussion
Based on the README_flagging.txt file, this means that of Marko's <b>139</b> objects that are matchable to my catalog:
- <b>111</b> objects look fine, according to Olivier (flag 0)
- <b>25</b> objects have an offset between ground and space, according to Olivier (flag 1)
- <b>1</b> object has hot pixels, i.e. it has a radius below 1.e-5, according to Olivier (flag 3)

Additionally, there are <b>2</b> objects that are NOT flagged by Olivier at all because they simply just don't show up in Olivier's catalog.

## CHECK 2
### Hollis's catalog with mine

In [18]:
hollis = fits.open('/Users/ngbinh/Downloads/check_data/COSMOS-Web_hot+cold_aperture_catalog_v1.3.fits')
hollis_data = Table(hollis[1].data)

In [19]:
### matching coords
hollis_objects = SkyCoord(ra=hollis_data['ra'].data*u.degree, dec=hollis_data['dec'].data*u.degree)

# use search_around_sky to find matching indices (matching in RA and Dec) in each catalog
idx_hollis, idx_mine2, d2d2, d3d2 = my_objects.search_around_sky(hollis_objects, 1*u.arcsec)

In [20]:
# there are going to be cases where one set of coords in my catalog is matched to many sets of coords in Hollis's catalog.
# in this part, we're going to find those cases and just select the set of coords with the minimum separation.
my_unique_ids_2 = np.unique(idx_mine2)
hollis_matches = []
my_matches_with_hollis = []
for match in my_unique_ids_2:
    separations = d2d2[np.where(idx_mine2 == match)]
    if np.size(separations) > 1:
        # this adds the id of the object from Hollis's catalog with the minimum separation from my set of coords
        hollis_matches.append(idx_hollis[np.where(d2d2 == np.min(separations))][0])
        my_matches_with_hollis.append(idx_mine2[np.where(d2d2 == np.min(separations))][0])
    else:
        # this just adds the id of the object from Hollis's catalog if there's only one match
        hollis_matches.append(idx_hollis[np.where(idx_mine2 == match)][0])
        my_matches_with_hollis.append(idx_mine2[np.where(idx_mine2 == match)][0])

In [21]:
print("The number of unique matches with Hollis's catalog is", np.size(hollis_matches), 'out of', np.size(my_catalog['id'].values))

The number of unique matches with Hollis's catalog is 139 out of 155

In [22]:
# these are the objects (rows) in my catalog that aren't in Hollis's catalog
catalog_not_in_hollis = pd.concat([my_catalog, my_catalog.loc[my_matches_with_hollis]]).drop_duplicates(keep=False)
catalog_not_in_hollis

         id          ra       dec
14   780511  150.059862  2.377896
15   780592  150.060254  2.378310
16   780808  150.060603  2.379956
20   780995  150.060525  2.381155
21   781053  150.061446  2.381259
34   782969  150.112951  2.377312
37   783202  150.112071  2.379218
88   784663  150.087636  2.398937
95   642465  150.436790  2.466868
96   642503  150.436177  2.467482
114  782329  150.103806  2.376071
126  799317  150.107224  2.328334
141  823454  150.108507  2.328465
142  823493  150.109905  2.328249
145  823724  150.111572  2.329369
152  824065  150.112878  2.331558

## CONCLUSION
There are <b>16</b> objects in my catalog of potential neighbors that are NOT in either Marko's or Hollis's catalog.